
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background:#222 none repeat scroll 0 0;
    color:#666;
    font-family:Helvetica;
    font-size:72%;
    line-height:1.5em;
    margin:0;
    border-top:1px solid #393939;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}

/* Portrait layout (default) */
.app {
 
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
       
    }
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

.nav-icons .ui-btn .ui-btn-inner { padding-top: 40px !important; }
.nav-icons .ui-btn .ui-icon { width: 30px!important; height: 30px!important; margin-left: -15px !important; box-shadow: none!important; -moz-box-shadow: none!important; -webkit-box-shadow: none!important; -webkit-border-radius: 0 !important; border-radius: 0 !important; }
#book .ui-icon { background:  url(../css/images/icons/80-shopping-cart.png) 50% 50% no-repeat; background-size: 26px 19px; }
#sessions .ui-icon { background:  url(../css/images/icons/83-calendar.png) 50% 50% no-repeat; background-size: 26px 19px;  }
#map .ui-icon { background:  url(../css/images/icons/103-map.png) 50% 50% no-repeat;  background-size: 26px 21px; }
#account .ui-icon { background:  url(../css/images/icons/123-id-card.png) 50% 50% no-repeat;  background-size: 24px 17px; }
#info .ui-icon { background:  url(../css/images/icons/180-stickynote.png) 50% 50% no-repeat;  background-size: 22px 22px; }
#book-again .ui-icon { background:  url(../css/images/icons/80-shopping-cart.png) 50% 50% no-repeat;  background-size: 26px 19px; }


